[Desktop Entry]
Name[ar]=اضبط الطّابعة
Name[ca]=Configuració de la impressora
Name[ca@valencia]=Configuració de la impressora
Name[cs]=Nastavit tiskárnu
Name[da]=Konfigurér printer
Name[de]=Drucker einrichten
Name[el]=Διαμόρφωση εκτυπωτή
Name[en_GB]=Configure Printer
Name[es]=Configurar impresora
Name[et]=Printeri seadistamine
Name[eu]=Konfiguratu inprimagailua
Name[fi]=Tulostinasetukset
Name[fr]=Configurer une imprimante
Name[gl]=Configurar a impresora
Name[hu]=Nyomtató beállítása
Name[ia]=Configura imprimitor
Name[it]=Configura stampante
Name[ja]=プリンタを設定
Name[ko]=프린터 설정
Name[nl]=Printer instellen
Name[nn]=Set opp skrivar
Name[pl]=Ustawienia drukarki
Name[pt]=Impressoras
Name[pt_BR]=Impressoras
Name[ru]=Настройка принтера
Name[sk]=Nastaviť tlačiareň
Name[sl]=Nastavi tiskalnik
Name[sr]=Подешавање штампача
Name[sr@ijekavian]=Подешавање штампача
Name[sr@ijekavianlatin]=Podešavanje štampača
Name[sr@latin]=Podešavanje štampača
Name[sv]=Anpassa skrivare
Name[tr]=Yazıcıyı Yapılandır
Name[uk]=Налаштувати принтер
Name[x-test]=xxConfigure Printerxx
Name[zh_CN]=配置打印机
Name[zh_TW]=設定印表機
Exec=system-config-printer
Terminal=false
Type=Application
Icon=printer
StartupNotify=true
X-Ubuntu-Gettext-Domain=system-config-printer
Categories=Settings;HardwareSettings;
X-GNOME-Settings-Panel=printing
X-Unity-Settings-Panel=printing
Keywords=Printer;Queue;Print;Paper;Ink;Toner;
X-Desktop-File-Install-Version=0.23
